body {
    font-family: Arial, sans-serif;
    background-color: #8f81ee;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.btn {
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}